<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
  <h2 class="page-header">Write a Review</h2>
    <div class="well">
      <div class="form-group">
        <%= render(partial: 'reviews/review') %>
      </div>
    </div>
  <h2 class="page-header">Reviews</h2>
  <% @product.reviews.reverse.each do |review| %>
    <div class="well">
      <h4>
        <%= review.user.first_name %> <%= review.user.last_name %>
        <% review.rating.times do |star| %>
          ⭐️
        <% end %>
        <span class="date-ago">
        <%= review.created_at.strftime("on %m/%d/%Y") %>
        </span>
      </h4>
      <p><%= review.description %></p>
      <% if current_user.id == review.id %>
        <%= link_to fa_icon("trash"), [@product, review], class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Delete your Review?" } %>
        </div>
      <% end %>
  <% end %>

</section>
